:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-white-color: #ffffff;
  --main-accent-color: #2196f3;
  --grey-color: #f5f4fa;
  --main-icon-color: #afb1b8;
}

* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Standart section paddings */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Container */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.header-box {
  display: flex;
  flex-wrap: wrap;
}

/* Logo */
.logo-header {
  align-self: center;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.accent {
  color: var(--main-accent-color);
}

/* Navigation section */
.site-nav .link.current {
  color: var(--main-accent-color);
}

.nav-item {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-accent-color);
}

.main-nav {
  margin-left: 93px;
  align-self: center;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:nth-child(-n + 2) {
  margin-right: 50px;
}

.contacts-list {
  display: inline-flex;
  align-self: center;
  margin-left: auto;
}

.contacts-list .link + .link {
  margin-left: 50px;
}

.contacts {
  display: inline-flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--main-accent-color);
}

.icon-envelope {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: currentColor;
}

.icon-smartphone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: currentColor;
}

/* Герой */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
}

.hero-title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: hidden;

  font-family: Roboto, sans-serif;
  background-color: var(--main-accent-color);
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #000000;
  cursor: pointer;
}

/* Особенности */

.icon-features {
  display: block;
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--grey-color);
  border-radius: 4px;
}

.features-list.list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */

.our-work-section {
  padding-top: 0;
}

.secondary-titles {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.our-work-list {
  display: flex;
  justify-content: center;
}

.our-work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.our-work-item {
  position: relative;
}

.our-work-title {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* Наша команда */

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-title {
  margin-bottom: 50px;
}

.our-team-list.list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-item {
  background-color: var(--main-white-color);
  padding-bottom: 30px;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:nth-child(-n + 3) {
  margin-right: 30px;
}

.our-team-name {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.our-team-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.social-contact.list {
  display: flex;
  justify-content: center;
}

.social-contact-item:nth-child(-n + 3) {
  margin-right: 10px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--main-icon-color);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--main-accent-color);
  fill: var(--main-white-color);
}

/* Our clients section */
.clients.list {
  display: flex;
}

.company-item:nth-child(-n + 5) {
  margin-right: 30px;
}

.company.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 72px;
  fill: var(--main-icon-color);

  border: 1px solid var(--main-icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company.link:hover,
.company.link:focus {
  border-color: var(--main-accent-color);
  fill: var(--main-accent-color);
}

/* Footer section */

footer {
  background-color: #2f303a;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--main-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.footer-address {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--main-white-color);
}

.footer-contacts {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--main-white-color);
}

/* JOIN US SECTION */

.footer-titles {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.icon-join {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-join:hover,
.icon-join:focus {
  background-color: var(--main-accent-color);
}

/* SUBSCRIPTION SECTION */

.subscription-form {
  display: flex;
}

.subscription-input {
  margin-right: 12px;
  padding-left: 12px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--main-white-color);
}

.subscription-btn {
  background-color: var(--main-accent-color);
  padding: 10px 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  cursor: pointer;
}

.subscription-btn-icon {
  margin-left: 10px;
}

/* BACKDROP */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-white-color);

  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.form-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

/* CLOSE ICON */
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  padding: 0;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white-color);
  cursor: pointer;
}

.icon-close {
  display: inline-flex;
  position: relative;
  width: 18px;
  height: 18px;
  top: 2px;
}

.modal-close:focus .icon-close,
.modal-close:hover .icon-close {
  fill: var(--main-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FORM FIELDS */
.form-field {
  margin-bottom: 20px;
}

.form-input {
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input > .input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input > .input:focus-within {
  border: 1px solid var(--main-accent-color);
  outline: none;
}

.form-input:focus-within .form-icon {
  fill: var(--main-accent-color);
}

.comment-input {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus-within {
  border: 1px solid var(--main-accent-color);
  outline: none;
}

/* AGREEMENT FIELD */

.agreement-link {
  color: var(--main-accent-color);
}

.agreement-field {
  position: relative;
  margin-bottom: 30px;
  padding-left: 42px;
}

.agreement-label {
  position: relative;
}

.agreement-input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 16px;
  height: 15px;
}

.agreement-icon {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -25px;
  fill: var(--main-white-color);
  stroke: var(--main-white-color);
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-input:checked + .agreement-icon {
  border-color: var(--main-accent-color);
  background-color: var(--main-accent-color);
}

/* SUBMIT BUTTON */
.submit {
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-white-color);
  background-color: var(--main-accent-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
}

.submit-btn {
  display: flex;
  justify-content: center;
}
/* -------------------------Страница портфолио------------------------------ */

/* Кнопки фильтра работ */

.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;

  font-family: Roboto, sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--grey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-style: hidden;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button-item:not(:nth-child(5n)) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры работ */

.example-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.example-card {
  flex-basis: calc(100% / 3 - 30px);

  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-card:hover,
.example-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-card:hover .card-text,
.example-card:focus .card-text {
  transform: translateY(0);
}

.example-link {
  text-decoration: none;
}

.card-interactive {
  position: relative;
  bottom: 0;
  left: 0;

  overflow: hidden;
  opacity: 1;
}

.card-text {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.example-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
